.restaurantsList {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.restaurantItem {
  flex: 1 1 calc(50% - 8px);
  min-width: 280px;
}

@media (max-width: var(--screen-sm)) {
  .restaurantItem {
    flex: 1 1 100%;
  }
}
