.rightActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.clearButton {
  color: var(--color-text-light);
}

.clearButton:hover {
  color: var(--color-text);
}

.searchIconButton {
  margin-right: 8px;
}
