.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.hide-sm {
  @media (max-width: 768px), (max-width: var(--screen-sm)) {
    display: none;
  }
}