:root {
  --color-text: #000;
  --color-text-light: #374151;
  --color-bg: #fff;
  --color-bg-light: #f7f7f7;
  --color-primary: #662e9b;
  --color-primary-hover: rgb(114, 52, 172);
  --color-secondary: #43bccd;
  --color-secondary-hover: #3eb2c1;
  --color-brand: #f86624;
  --color-error: #dc2626;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-full: 9999px;

  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 14px rgba(0, 0, 0, 0.15);

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  --page-content-width: 1200px;

  --screen-sm: 768px;

  --outline: 2px solid var(--color-primary-hover);
}
