.inputWrapper {
  display: flex;
  align-items: center;
  height: 48px;
  border: 1px solid var(--color-text-light);
  border-radius: var(--border-radius-full);
  padding: 0 4px 0 12px;
  cursor: text;
  box-sizing: border-box;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.inputWrapper:hover:not(:has(.actions:hover)) {
  background-color: var(--color-bg-light);
}

.icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  border: none;
  height: 100%;
  padding: 0;
  background-color: transparent;
  color: var(--color-text);
  font-size: var(--font-size-md);
}

.input:focus {
  outline: none;
}

.inputWrapper:focus-within {
  outline: none;
}

.inputWrapper:has(.input:focus-visible) {
  outline: var(--outline);
  outline-offset: 1px;
}

.input::placeholder {
  color: var(--color-text-light);
  opacity: 0.7;
}

.actions {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

input:-internal-autofill-selected {
  background-color: var(--color-secondary) !important;
  color: var(--color-text) !important;
}
