.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  max-width: var(--page-content-width);
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}

@media (max-width: var(--screen-sm)) {
  .content {
    padding: 16px;
  }
}
